@using MyoFibril.MAUIBlazorApp.Services.UI;

<div class="navbar app-bar container-fluid fixed-top text-center align-items-center">
    <h1 class="m-auto">@Header</h1>
</div>

@code {
    [Parameter]
    public string Header { get; set; }
}
