@using MyoFibril.MAUIBlazorApp.Services.UI;
@inject IAppBarService _appBarService;

@(_isVisible){
    <div class="app-bar">
        <h1>@_siteHeader</h1>
    </div>
}

@code {
    bool _isVisible = _appBarService.IsAppBarVisible();
    string _siteHeader = _appBarService.GetCurrentSiteHeader();

}
