.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item > .oi {
    top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0.5rem;
}

fs-navtitle {
    padding-top:0px;
    margin-top:0px;
    font-size: 0.2rem;
}

.navbar {
    padding-top:1rem;
    padding-bottom:0px;
    background-color:rgb(54, 54, 54)
}

.nav-item {
    font-size: 0.7rem;
}


    .nav-item:first-of-type {
        padding-left: 0.3rem;
    }

    .nav-item:last-of-type {
        padding-right: 0.3rem;
    }

    .nav-item ::deep a {
        color: white;
        border-radius: 4px;
        height: 1rem;
        display: flex;
        align-items: center;
        line-height: 1rem;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white !important;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
