<nav class="ps-3 navbar fixed-bottom">
    <div class="container-fluid">
        <NavLink class="nav-item text-center" href="" Match="NavLinkMatch.All">
            <div class="nav-item">
                <p class="oi oi-home fs-1" aria-hidden="true"></p>
                <p class="fs-navtitle">Home</p>
            </div>
        </NavLink>
        <NavLink class="nav-item text-center" href="/NewActivity" Match="NavLinkMatch.All">
            <div class="nav-item ">
                <p class="oi oi-plus fs-1" aria-hidden="true"></p>
                <p class="fs-navtitle">New Activity</p>
            </div>
        </NavLink>
        <NavLink class="nav-item text-center" href="/Activities" Match="NavLinkMatch.All">
            <div class="nav-item">
                <p class="oi oi-bar-chart fs-1" aria-hidden="true"></p>
                <p class="fs-navtitle">View Activities</p>
            </div>
        </NavLink>
    </div>
</nav>

@code {
}
