@inject NavigationManager _navigationManager
<div class="loader loader-bouncing"><span>Redirecting...</span></div>
@code {

    protected override void OnInitialized()
    {
        Thread.Sleep(10);
        _navigationManager.NavigateTo("/login");
    }
}
