@using MyoFibril.Domain.Entities;
@using MyoFibril.MAUIBlazorApp.Services.Local;
@using MyoFibril.MAUIBlazorApp.Services.UI;
@inject IExerciseOptionsDrawerManager _drawerManager;
@inject IBuildActivityService _buildActivityService;

<div class="offcanvas show offcanvas-bottom offcanvas-size-xl" tabindex="-1" aria-labelledby="offcanvasBottomLabel">
    <div class="card">
        <div class="card-header container-fluid row">
            <div class="col">
                <h3>@_selectedExercise.Exercise.Name</h3>
            </div>
            <div>
                <span class="fs-5 oi oi-x col text-danger x-btn" @onclick="_drawerManager.CloseDrawer" aria-label="Close"></span>
            </div>
        </div>
        <div class="card-content list-group list-group-flush">
            <div class="list-group-item row py-2" @onclick="HandleViewSetSummary">
                <i class="bi-card-list"></i>
                <span>View set summary</span>
            </div>
            <div class="list-group-item row py-2" @onclick="HandleAddNewSet">
                <i class="bi-file-earmark-plus"></i>
                <span>Add new set</span>
            </div>
            <div class="list-group-item row py-2" @onclick="HandleDeleteExercise">
                <i class="bi-trash"></i>
                <span>Delete exercise</span>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas-overlay" @onclick="_drawerManager.CloseDrawer">
</div>

@code {
    private PerformedExerciseEntity _selectedExercise => _drawerManager.SelectedExercise;

    private void HandleViewSetSummary()
    {

    }
    private void HandleAddNewSet()
    {

    }
    private void HandleDeleteExercise()
    {
        _buildActivityService.RemovePerformedExercise(_selectedExercise);
    }
}
