@using MyoFibril.Domain.Entities;
@using MyoFibril.MAUIBlazorApp.Services.UI;
@inject IExerciseOptionsDrawerManager _drawerManager;

<div class="offcanvas show offcanvas-bottom" tabindex="-1" aria-labelledby="offcanvasBottomLabel">
    <div class="card">
        <div class="card-header container-fluid">
            <div>
                <h3 class="card-title">@_selectedExercise.Exercise.Name</h3>
            </div>
            <button type="button" class="btn-close" @onclick="_drawerManager.CloseDrawer" aria-label="Close"></button>
        </div>
        <div class="card-content list-group list-group-flush">
            <div class="list-group-item">
                <span class="oi oi-"></span>
                <span>View set summary</span>
            </div>
            <div class="list-group-item">
                <span class="oi oi-"></span>
                <span>Add new set</span>
            </div>
            <div class="list-group-item">
                <span class="oi oi-"></span>
                <span>Delete exercise</span>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas-overlay" @onclick="_drawerManager.CloseDrawer">
</div>

@code {
    private PerformedExerciseEntity _selectedExercise => _drawerManager.SelectedExercise;
}
