@using MyoFibril.Domain.Entities;
@using MyoFibril.MAUIBlazorApp.Services.UI;
@inject IExerciseOptionsDrawerManager _drawerManager;

<div class="offcanvas show offcanvas-bottom" tabindex="-1" aria-labelledby="offcanvasBottomLabel">
    <div class="card">
        <div class="card-header">
            <h3>@_selectedExercise.Exercise.Name</h3>
        </div>
        <div class="card-content list-group list-group-flush">
            <div class="list-group-item">
                <span>View set summary</span>
            </div>
            <div class="list-group-item">
                <span>Add new set</span>
            </div>
            <div class="list-group-item">
                <span>Delete exercise</span>
            </div>
        </div>
    </div>
    
</div>

@code {
    private PerformedExerciseEntity _selectedExercise => _drawerManager.SelectedExercise;
}
