@using MyoFibril.Domain.Models;
@using MyoFibril.Domain.Utils;
@using MyoFibril.MAUIBlazorApp.Services.Local;
@inject ILocalOptionsService _options;

<div class="card">
    <div>
        <input class="form-control" @bind="WeightInput" placeholder="Weight" type="number" />
    </div>
    <div>
        <input class="form-control" @bind="RepsInput" placeholder="Reps" type="number" />
    </div>
    <div>
        <textarea class="form-control" style="resize: none;" placeholder="Additional Notes" @bind="NotesInput"></textarea>
    </div>
    <button class="form-control btn btn-danger" @onclick="ClickedCancel">Cancel</button>
    <button class="form-control btn btn-primary" @onclick="ClickedSaveSet">Save</button>
</div>

@code {
    [Parameter]
    public EventCallback<SetInfo> OnCompletedSet { get; set; }
    [Parameter]
    public EventCallback OnCanceled { get; set; }

    public string WeightInput { get; set; }
    public string RepsInput { get; set; }
    public string NotesInput { get; set; }

    private async Task ClickedSaveSet()
    {
        try
        {
            var setInfo = new SetInfo
                {
                    AdditionalDetails = string.IsNullOrEmpty(NotesInput) ? null : NotesInput,
                    Reps = string.IsNullOrEmpty(RepsInput) ? null : int.Parse(RepsInput),
                    Weight = string.IsNullOrEmpty(WeightInput) ? null : new WeightInfo
                    {
                        Units = _options.SelectedUnit,
                        Value = int.Parse(WeightInput)
                    }
                };
            await OnCompletedSet.InvokeAsync(setInfo);

        }
        catch(Exception ex)
        {
            // todo handle invalid inputs
        }

    }

    private async Task ClickedCancel()
    {
        await OnCanceled.InvokeAsync();
    }
}
