<div class="dropdown">
    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Select Exercise
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#"><span class="oi oi-plus"></span> New Exercise</a></li>
        <li><hr class="dropdown-divider"></li>
        @foreach(var exercise in Exercises)
        {
            <li><a class="dropdown-item" href="#">@exercise</a></li>
        }
    </ul>
</div>


@code {
    List<string> Exercises { get; set; } = new List<string>()
    {
        "Box Squat", "Bench Press", "Deadlift"
    };
}
