@using MyoFibril.MAUIBlazorApp.Services.UI;
@inject IModalService _modalService

<div class="modal fade show d-block" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Full-Screen Modal</h4>
            </div>
            <div class="modal-body">
                <!-- Place your content here -->
                <div>
                    <!-- Content goes here -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" @onclick="CloseModal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        _modalService.OnModalStateChanged += StateHasChanged;
    }
    private void CloseModal()
    {
        _modalService.CloseModal();
    }
    /*
    private async Task AddExercise()
        {
        var newExercise = new ExerciseDto { ExerciseName = "Box squats" };
        _createActivityViewModel.Exercises.Add(newExercise);
        StateHasChanged();
    }
    */
}
