<div class="modal fade show d-block" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Full-Screen Modal</h4>
            </div>
            <div class="modal-body">
                <!-- Place your content here -->
                <div>
                    <!-- Content goes here -->
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" @onclick="CloseModal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    private bool isModalOpen = false;

    private void OpenModal()
    {
        isModalOpen = true;
    }

    private void CloseModal()
    {
        isModalOpen = false;
    }
}
