@using MyoFibril.MAUIBlazorApp.Services;
@using MyoFibril.Contracts.WebAPI.Models;
@using MyoFibril.MAUIBlazorApp.Components.AddExerciseToActivity
@using MyoFibril.MAUIBlazorApp.Components.ExerciseSummary;
@using MyoFibril.MAUIBlazorApp.Services.Local;
@inject CreateActivityViewModel _createActivityViewModel
@inject IAddExerciseService _addExerciseService
@inject IBuildActivityService _buildActivityService;

<h1>Create New Activity</h1>

@if (_modalOpen)
{
    <AddExerciseToActivityComponent></AddExerciseToActivityComponent>
}

<div>
    <span>Name</span>
    <input @bind="InputName" />

    @foreach (var exercise in _exercises)
    {
        <ExerciseSummaryComponent Exercise="exercise"></ExerciseSummaryComponent>
    }

    <!-- Add button to add a new input -->
    <button class="btn btn-primary" @onclick="AddExerciseButtonClicked">Add Exercise</button>

    <button @onclick="CreateButtonClicked">Create</button>
</div>

@code {
    private bool _modalOpen => _addExerciseService.IsModalOpen();
    private List<ExerciseDto> _exercises => _createActivityViewModel.Exercises;
    public string InputName { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        _addExerciseService.OnModalStateChanged += StateHasChanged;
        _buildActivityService.OnBuildActivityStateChanged += StateHasChanged;
    }
    private void AddExerciseButtonClicked()
    {
        _addExerciseService.OpenModal();
    }
    private async Task CreateButtonClicked()
    {
        await _createActivityViewModel.CreateActivity(InputName);
        StateHasChanged();
    }
    public void Dispose()
    {
        _addExerciseService.OnModalStateChanged -= StateHasChanged;
        _buildActivityService.OnBuildActivityStateChanged -= StateHasChanged;
    }
}
