@using MyoFibril.Domain.Entities;
@using MyoFibril.MAUIBlazorApp.Services.Local.Activities;
@inject IActivitiesProvider _activitiesProvider;

<div>
    @foreach(var activity in _activities)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@activity.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@activity.DateCreated</h6>
                <div class="card-text">
                @if(activity.PerformedExercises is not null)
                {
                    @foreach (var exercise in activity.PerformedExercises)
                    {
                        <p>@exercise.Exercise.Name</p>
                    }
                }
                </div>
            </div>
        </div>
    }
</div>

@code {
    private List<ActivityEntity> _activities = new List<ActivityEntity>();
    private int _numberOfActivitiesToDisplay = 15;
    protected override async Task OnInitializedAsync()
    {
        _activities = await _activitiesProvider.GetActivitiesAsync(_numberOfActivitiesToDisplay);
    }
}
