@using MyoFibril.Domain.Entities;
@using MyoFibril.MAUIBlazorApp.Services.Local.Activities;
@inject IActivitiesProvider _activitiesProvider;

<div>
    @foreach(var activity in _activities)
    {
        <div class="card">
            <p>@activity.DateCreated</p>
            <p>@activity.Name</p>
            @if(activity.PerformedExercises is not null)
            {
                @foreach (var exercise in activity.PerformedExercises)
                {
                    <p>@exercise.Exercise.Name</p>
                }
            }
        </div>
    }
</div>

@code {
    private List<ActivityEntity> _activities = new List<ActivityEntity>();
    protected override async Task OnInitializedAsync()
    {
        _activities = await _activitiesProvider.GetActivitiesAsync();
    }
}
