@page "/"
@attribute [Authorize]
@inject IUserService _userService;

@using MyoFibril.MAUIBlazorApp.Services.Local;

<button @onclick="HandleLogoutClick">Log out</button>

@code {
    public async Task HandleLogoutClick()
    {
        await _userService.Logout();
        StateHasChanged();
    }
}
