@page "/"
@using MyoFibril.MAUIBlazorApp.Services;
@using MyoFibril.Contracts.WebAPI.CreateActivity;

@inject INewActivityService _newActivityService

<h1>Create New Activity</h1>

<div>
    <span>Name</span>
    <input @bind="InputName" />
    <button @onclick="CreateActivity">Create</button>
</div>

@if (_createdActivity is not null)
{
    <p>Activity created!</p>
    <div>
        <p>>@_createdActivity.Id</p>
        <p>@_createdActivity.Name</p>
        <p>@_createdActivity.StravaActivity.StartDateLocal</p>
    </div>
}


@code{
    public string? InputName { get; set; }
    private CreateActivityResponse? _createdActivity;

    public async Task CreateActivity()
    {
        var createActivityRequest = new CreateActivityRequest
            {
                Name = InputName
            };
        _createdActivity = await _newActivityService.CreateActivity(createActivityRequest);
        StateHasChanged();
    }
}