@page "/"
@using MyoFibril.MAUIBlazorApp.Services;
@using MyoFibril.Contracts.WebAPI.CreateActivity;

@inject INewActivityService _newActivityService

<h1>Create New Activity</h1>

<div>
    <span>Name</span>
    <input @bind="Name" />
    <button @onclick="CreateActivity">Create</button>
</div>

@if (_activityCreated)
{
    <div>
    </div>
}


@code{
    public string? Name { get; set; }
    private bool _activityCreated = false;

    public async Task CreateActivity()
    {
        var createdActivity = await _newActivityService.CreateActivity(CreateActivityRequest createActivityRequest);
        _activityCreated = true;
    }
}