@page "/Login"
@using MyoFibril.MAUIBlazorApp.Services.Local;
@layout LoggedOutLayout
@inject IUserService _userService
@inject NavigationManager _navigationManager

<div>
    <input type="text" class="form-control" placeholder="Username" @bind="_username"/>
    <input type="hidden" class="form-control" placeholder="Password" @bind="_password" />
    <button class="btn btn-primary form-control" @onclick="HandleLoginClick">Login</button>

    <p>Don't have an account? <a href="/Register">Create new account.</a></p>
</div>

@if (!string.IsNullOrEmpty(_error))
{
    <p class="text-danger">@_error</p>
}

@code {
    private string _username;
    private string _password;

    private string _error;

    private async Task HandleLoginClick()
    {
        var isSuccessfulLogin = await _userService.CheckLoginCredentials(_username, _password);

        if (!isSuccessfulLogin)
        {
            _error = "Username and password do not match.";
            return;
            
        }
        _navigationManager.NavigateTo("/");
    }
}
