@page "/Login"
@using MyoFibril.MAUIBlazorApp.Components.LoginForm
@layout LoggedOutLayout

<div>
    <input type="text" class="form-control" placeholder="Username" />
    <input type="text" class="form-control" placeholder="Password" />
    <button class="btn btn-primary form-control">Login</button>

    <p>Don't have an account? <a href="/Register">Create new account.</a></p>
</div>

@code {

}
