@page "/Register"
@layout LoggedOutLayout
<div>
    <input type="text" class="form-control" placeholder="Username" />
    <input type="email" class="form-control" placeholder="Email address" />
    <input type="password" class="form-control" placeholder="Password" />
    <input type="password" class="form-control" placeholder="Confirm password" />
    <button class="btn btn-primary form-control" @onclick="HandleClickCreateAccount">Create Account</button>
</div>


@code {
    public async Task HandleClickCreateAccount()
    {
        
    }
}
