@page "/Register"
@    using MyoFibril.Domain.Utils;
    using MyoFibril.Domain.Common;
@layout LoggedOutLayout
<div>
    <input type="text" class="form-control" placeholder="Username" @bind="_username"/>
    <input type="email" class="form-control" placeholder="Email address" @bind="_email" />
    <input type="password" class="form-control" placeholder="Password" @bind="_password" />
    <input type="password" class="form-control" placeholder="Confirm password" @bind="_confirmPassword" />
    <button class="btn btn-primary form-control" @onclick="HandleClickCreateAccount">Create Account</button>
</div>


@code {
    private string _username = string.Empty;
    private string _email = string.Empty;;
    private string _password = string.Empty;;
    private string _confirmPassword = string.Empty;;

    public async Task HandleClickCreateAccount()
    {
        // perform validation
        CredentialsValidator.ValidateUsername(_username);
        CredentialsValidator.ValidateEmail(_email);
        CredentialsValidator.ValidatePasswordAndConfirmPassword(_password, _confirmPassword);

        // create credentials request

        // invoke register method on service layer

        // process result
    }
}
