@using MyoFibril.Contracts.WebAPI.Models;
@using MyoFibril.Domain.Entities;
@using MyoFibril.Domain.Enums;
@using MyoFibril.Domain.Models;
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@PerformedExercise.Exercise.Name</h5>
        @foreach(var set in PerformedExercise.Sets)
        {
            <p class ="card-text">
                @if(set.Weight is not null)
                {
                    <span>@set.Weight.Value @DisplayUnits(set.Weight.Units)</span>
                }
                @if (set.Reps is not null)
                {
                    <span> x @set.Reps reps</span>
                }
            </p>
        }
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

@code {
    [Parameter]
    public PerformedExerciseEntity PerformedExercise { get; set; }
    private string DisplayUnits(WeightInfoUnit unit) => unit switch
    {
        WeightInfoUnit.Pounds => "lbs",
        WeightInfoUnit.Kilograms => "kg",
        _ => throw new Exception($"Exception in {nameof(DisplayUnits)}: unknown unit")
    };
}
