@using MyoFibril.Domain.Entities;
@using MyoFibril.MAUIBlazorApp.Services;
@using MyoFibril.MAUIBlazorApp.Services.Local;
@inject IAddExerciseService _addExerciseService;
@inject IBuildActivityService _buildActivityService;
@inject ILocalOptionsService _localOptionsService;
<p>Selected Exercise: @SelectedExerciseType</p>
<button @onclick="ClickedCancelSelectedExercise">Cancel</button>

<SetSummaryListComponent IncompletePerfromedExercise="_incompletePerformedExercise"></SetSummaryListComponent>

<button @onclick="ClickedSubmitPerformedExercise">@_submitPerformedExerciseButtonLabel</button>


@code {
    [Parameter]
    public ExerciseEntity SelectedExerciseType { get; set; }
    private PerformedExerciseEntity _incompletePerformedExercise = new PerformedExerciseEntity();
    private string _submitPerformedExerciseButtonLabel = "Add Exercise";

    public void ClickedSubmitPerformedExercise()
    {
        // todo build performedExercise object
        var performedExercise = new PerformedExerciseEntity();
        _buildActivityService.AddPerformedExercise(performedExercise);
    }

    public void ClickedCancelSelectedExercise()
    {
        _addExerciseService.CancelSelectedExercise();
    }
}
