@using MyoFibril.Domain.Entities;
@using MyoFibril.MAUIBlazorApp.Services;
@inject IAddExerciseService _addExerciseService;
<p>Selected Exercise: @SelectedExerciseType</p>
<button @onclick="ClickedSelectNewExercise">X</button>

<button @onclick="ClickedSubmitPerformedExercise">@_submitPerformedExerciseButtonLabel</button>


@code {
    private string _submitPerformedExerciseButtonLabel = "Add Exercise";
    [Parameter]
    public ExerciseEntity SelectedExerciseType { get; set; }

    public void ClickedSubmitPerformedExercise()
    {
        // todo build performedExercise object
        var performedExercise = new PerformedExerciseEntity();
        _addExerciseService.AddPerformedExercise(performedExercise);
    }

    public void ClickedSelectNewExercise()
    {
        _addExerciseService.CancelSelectedExercise();
    }
}
